@media screen and (min-width: 1900px) {
  .right-container p {
    position: absolute;
    display:inline-block;
    top:840px;
    left:450px;
    font-size:20px;
    font-weight:bold;
  }

  .left-container img {
    width:300px;
    height:350px;
    padding-top:250px;
    padding-left:60px;
    float:left;
    
  }
  
  .moji a {
    font-size:30px;
    color:black;
    display:inline-block;
    margin-right:5px;
    margin-left:190px;
    transition:all 1s;
  }
  
  
  
  .moji  {
    background-color:ghostwhite;
    margin:200px 450px;
    border: solid 2px black;
    font-weight:bold;
    padding:10px 80px;
    text-align: center;
  }

  .explain li {
    list-style:none;
    text-align: justify;
    text-justify: inter-ideograph;
    padding-left:600px;
    font-weight:bold;
    color:#DC143C;
  }
   

  .moji a:hover {
    color:green;
  }

 
}
